<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.base.dao.ProductMapper">
    <select id="selectProduct" resultType="com.richfit.mes.common.model.base.Product">
        SELECT p.*
<!--        ,((select count(pb.id is not null) from base_production_bom pb-->
<!--        WHERE pb.drawing_no = p.drawing_no  and pb.is_current = '1' and pb.grade = 'H') > 0 ) have_bom,-->
<!--        (r.id is not null) have_router, r.type router_type-->
        FROM mes_base.base_product p
<!--        left join base_router r on p.drawing_no = r.router_no and p.tenant_id = r.tenant_id and r.is_active = 1-->
        ${ew.customSqlSegment}
    </select>
</mapper>