<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.sync.dao.DataMapper">
    <select id="selectRawData" resultType="com.richfit.mes.sync.entity.RawData" statementType="STATEMENT">
        select distinct ${par.rawAttachmentColum} rawFilePath
        from ${par.tableName} where tenant_id=&apos;${par.tenantId}&apos; and ${par.tempUpdateDateColum} is null and
        ${par.rawAttachmentColum} is not null
        LIMIT ${par.page},${par.count}
    </select>

    <!--    <update id="updateRow" parameterType="java.util.Map" statementType="STATEMENT">-->
    <!--        update ${par.tableName}-->
    <!--        set ${par.targetColum} = &apos;${par.newFilePath}&apos;,${par.tempUpdateDateColum} = now()-->
    <!--        where ${par.keyColum} = &apos;${par.rowId}&apos;-->
    <!--    </update>-->

    <update id="batchUpdateAttachmentId" parameterType="java.util.Map" statementType="STATEMENT">
        update ${par.tableName}
        set ${par.targetColum} = &apos;${par.newFilePath}&apos;,${par.tempUpdateDateColum} = now()
        where ${par.rawAttachmentColum} = &apos;${par.oldPath}&apos;
    </update>
</mapper>