<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kld.mes.marketing.mapper.ProduceNoticeMapper">

    <resultMap id="BaseResultMap" type="com.kld.mes.marketing.entity.domain.ProduceNotice">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="notificationState" column="notification_state" jdbcType="VARCHAR"/>
            <result property="schedulingState" column="scheduling_state" jdbcType="VARCHAR"/>
            <result property="acceptingState" column="accepting_state" jdbcType="VARCHAR"/>
            <result property="notificationType" column="notification_type" jdbcType="VARCHAR"/>
            <result property="productionOrder" column="production_order" jdbcType="VARCHAR"/>
            <result property="productionType" column="production_type" jdbcType="VARCHAR"/>
            <result property="userUnit" column="user_unit" jdbcType="VARCHAR"/>
            <result property="workNo" column="work_no" jdbcType="VARCHAR"/>
            <result property="drawingNo" column="drawing_no" jdbcType="VARCHAR"/>
            <result property="materialNo" column="material_no" jdbcType="VARCHAR"/>
            <result property="materialName" column="material_name" jdbcType="VARCHAR"/>
            <result property="produceName" column="produce_name" jdbcType="VARCHAR"/>
            <result property="produceType" column="produce_type" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="technicalCompletionTime" column="technical_completion_time" jdbcType="TIMESTAMP"/>
            <result property="blankFinishTime" column="blank_finish_time" jdbcType="TIMESTAMP"/>
            <result property="wellSiteCompletionTime" column="well_site_completion_time" jdbcType="TIMESTAMP"/>
            <result property="rigCompletionTime" column="rig_completion_time" jdbcType="TIMESTAMP"/>
            <result property="deliveryDate" column="delivery_date" jdbcType="TIMESTAMP"/>
            <result property="salesSchedulingDate" column="sales_scheduling_date" jdbcType="TIMESTAMP"/>
            <result property="productionScheduleDate" column="production_schedule_date" jdbcType="TIMESTAMP"/>
            <result property="reasonReturn" column="reason_return" jdbcType="VARCHAR"/>
            <result property="issuingUnit" column="issuing_unit" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="branchCode" column="branch_code" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyBy" column="modify_by" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,notification_state,scheduling_state,
        accepting_state,notification_type,production_order,
        production_type,user_unit,work_no,
        drawing_no,material_no,material_name,
        produce_name,produce_type,quantity,
        technical_completion_time,blank_finish_time,well_site_completion_time,
        rig_completion_time,delivery_date,sales_scheduling_date,
        production_schedule_date,reason_return,issuing_unit,
        tenant_id,branch_code,create_by,
        create_time,modify_by,modify_time,
        remark
    </sql>
</mapper>
