<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.CertificateMapper">
    <select id="selectCertificate" resultType="com.richfit.mes.common.model.produce.Certificate">
        SELECT *
        FROM produce_certificate pc, (
        select tc.certificate_id, sum(th.number) number, th.drawing_no, max(th.product_name)
        product_name,group_concat(th.product_no) product_no,
        th.material_no,max(th.test_Bar_Number) test_Bar_Number,max(th.test_Bar_Type) test_Bar_Type,
        max(th.batch_no) batch_no,max(th.texture) texture,max(th.weight) weight,
        ti.opt_id, ti.opt_name, ti.opt_ver, max(ti.sequence_order_by) sequence_order_by from
        produce_track_certificate tc
        left join produce_track_head th on tc.th_id = th.id
        left join produce_track_item ti on tc.ti_id = ti.id
        group by tc.certificate_id, th.drawing_no, th.material_no, ti.opt_id, ti.opt_name, ti.opt_ver) as track
        ${ew.customSqlSegment}
    </select>
</mapper>