<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.LineStoreMapper">
    <select id="selectGroup" resultType="com.richfit.mes.common.model.produce.store.LineStoreSum">
        SELECT c.drawing_no,
        (select s.material_name from
        mes_produce.produce_line_store s where s.drawing_no = c.drawing_no and tenant_id = c.tenant_id and branch_code =
        c.branch_code limit 1) material_name,
        (select s.material_no from
        mes_produce.produce_line_store s where s.drawing_no = c.drawing_no and tenant_id = c.tenant_id and branch_code =
        c.branch_code limit 1) material_no,
        (
        SELECT sum(number - ifnull(use_num,0)) FROM mes_produce.produce_line_store
        where drawing_no = c.drawing_no and material_type = '0' and status ='0' and tenant_id = c.tenant_id and
        branch_code = c.branch_code
        ) number,
        (
        SELECT sum(number) FROM mes_produce.produce_line_store
        where drawing_no = c.drawing_no and material_type = '1' and status = '1' and tenant_id = c.tenant_id and
        branch_code
        = c.branch_code
        ) making_number,
        (
        SELECT sum(number - ifnull(use_num,0)) FROM mes_produce.produce_line_store
        where drawing_no = c.drawing_no and material_type = '1' and status = '0' and tenant_id = c.tenant_id and
        branch_code
        = c.branch_code
        ) comp_number

        from (
        select distinct(drawing_no) drawing_no ,tenant_id,branch_code FROM mes_produce.produce_line_store
        ${ew.customSqlSegment}
        ) c

    </select>
    <select id="selectLineStoreByProduce" resultType="com.richfit.mes.common.model.produce.LineStore">
        SELECT ls.*, ta.id assemblyId
        FROM produce_line_store ls
        left join mes_produce.produce_track_assembly ta on ls.workblank_no = ta.product_no and ls.track_type = '0'
        ${ew.customSqlSegment}
    </select>
</mapper>