<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.OrderMapper">

    <select id="queryOrderList" resultType="com.richfit.mes.common.model.produce.Order">
        select o.*,(select sum(p.proj_num)
        from produce_plan p where o.order_sn = p.order_no and o.tenant_id = p.tenant_id
        ) as proj_num,
        (select sum(ptv.store_num) from plan_track_view ptv where ptv.proj_code in
        (select proj_code from produce_plan p where o.order_sn = p.order_no and o.tenant_id = p.tenant_id)
        and ptv.tenant_id = o.tenant_id)
        as store_num
        from produce_order o
        -- select o.*
        -- from v_order_plan o
        WHERE 1=1
        <trim suffixOverrides=",">
            <if test="param.orderSn != null and param.orderSn != ''">
                and o.order_sn like '%${param.orderSn}%'
            </if>
            <if test="param.materialCode != null and param.materialCode != ''">
                and o.material_code like '%${param.materialCode}%'
            </if>
            <if test="param.branchCode != null and param.branchCode != ''">
                and o.branch_code like '%${param.branchCode}%'
            </if>
            <if test="param.startTime != null and param.startTime != ''">
                and o.delivery_date >= #{param.startTime}
            </if>
            <if test="param.endTime != null and param.endTime != ''">
                and o.delivery_date &lt;= #{param.endTime}
            </if>
            <if test="param.status != null and param.status != '' ">
                and o.status = '${param.status}'
            </if>
            <if test="param.tenantId != null and param.tenantId != ''">
                and o.tenant_id like '${param.tenantId}'
            </if>
            <if test="param.notEnd != null and param.notEnd != ''">
                and o.status != '2'
            </if>
        </trim>
        <if test="param.orderCol != null and param.orderCol != ''">
            order by ${param.orderCol} ${param.order}
        </if>
    </select>

    <select id="queryOrder" resultType="com.richfit.mes.common.model.produce.Order">
        select o.*,
               (select sum(p.proj_num)
                from produce_plan p
                where o.order_sn = p.order_no
                  and o.tenant_id = p.tenant_id
               ) as proj_num,
               (select sum(ptv.store_num)
                from plan_track_view ptv
                where ptv.proj_code in
                      (select proj_code from produce_plan p where o.order_sn = p.order_no and o.tenant_id = p.tenant_id)
                  and ptv.tenant_id = o.tenant_id)
                 as store_num
        from produce_order o
        WHERE o.id = '${id}'
    </select>
</mapper>
