<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.PhysChemOrderMapper">

    <select id="queryTestPageList" resultType="com.richfit.mes.common.model.produce.PhysChemOrder">
        SELECT
        head.track_no as trackNo,
        head.drawing_no as drawingNo,
        head.product_name as productName,
        py_order.*
        FROM
        produce_track_head head
        left join produce_phys_chem_order py_order on py_order.batch_no = head.batch_no
        where
        1=1
        <if test="param.branchCode != null and param.branchCode != ''">
            and head.branch_code = '${param.branchCode}'
        </if>
        <if test="param.tenantId != null and param.tenantId != ''">
            and head.tenant_id = '${param.tenantId}'
        </if>
        <if test="param.startTime != null and param.startTime != ''">
            and py_order.modify_time &gt; '${param.startTime}'
        </if>
        <if test="param.startTime != null and param.startTime != ''">
            and py_order.modify_time &gt; '${param.startTime}'
        </if>
        <if test="param.endTime != null and param.endTime != ''">
            and py_order.modify_time &lt; '${param.endTime}'
        </if>
        <if test="param.orderNo != null and param.orderNo != ''">
            and py_order.order_no like '%${param.orderNo}%'
        </if>
        <if test="param.sampleDept != null and param.sampleDept != ''">
            and py_order.sample_dept like '%${param.sampleDept}%'
        </if>
        <if test="param.productName != null and param.productName != ''">
            and head.product_name like '%${param.productName}%'
        </if>
        <if test="param.drawingNo != null and param.drawingNo != ''">
            and head.drawing_no like '%${param.drawingNo}%'
        </if>
        <if test="orderTableName != null and orderTableName != ''">
            order by ${orderTableName}.${param.orderCol} ${param.order}
        </if>
    </select>
</mapper>
