<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.PhysChemOrderMapper">

    <select id="queryTestPageList" resultType="com.richfit.mes.common.model.produce.PhysChemOrder">
        SELECT
        head.track_no as trackNo,
        head.id as hid,
        head.drawing_no as drawingNo,
        head.product_name as productName,
        py_order.*
        FROM
        produce_phys_chem_order py_order
        left join produce_track_head head on py_order.batch_no = head.batch_no
        <if test="headIds != null and headIds.size>0">
            and head.id in (<foreach collection="headIds" item="headId" index="index" separator=",">
            #{headId}
        </foreach>)
        </if>
        <if test="headIds == null or headIds.size==0">
            and 1=0
        </if>
        where
        1=1
        <if test="param.branchCode != null and param.branchCode != ''">
            and head.branch_code = '${param.branchCode}'
        </if>
        <if test="param.startTime != null and param.startTime != ''">
            and DATE_FORMAT(py_order.modify_time,'%Y-%m-%d') &gt;= '${param.startTime}'
        </if>
        <if test="param.endTime != null and param.endTime != ''">
            and DATE_FORMAT(py_order.modify_time,'%Y-%m-%d') &lt;=  '${param.endTime}'
        </if>
        <if test="param.orderNo != null and param.orderNo != ''">
            and py_order.order_no like '%${param.orderNo}%'
        </if>
        <if test="param.sampleDept != null and param.sampleDept != ''">
            and py_order.sample_dept like '%${param.sampleDept}%'
        </if>
        <if test="param.status != null and param.status != ''">
            and py_order.STATUS in (
            <foreach collection="param.status.split(',')" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="param.productName != null and param.productName != ''">
            and head.product_name like '%${param.productName}%'
        </if>
        <if test="param.drawingNo != null and param.drawingNo != ''">
            and head.drawing_no like '%${param.drawingNo}%'
        </if>
        <if test="param.batchNo != null and param.batchNo != ''">
            and head.batch_no like '%${param.batchNo}%'
        </if>
        <if test="orderTableName != null and orderTableName != ''">
            order by ${orderTableName}.${param.orderCol} ${param.order}
        </if>
    </select>
</mapper>
