<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.TrackAssignMapper">

    <select id="queryPage" resultType="com.richfit.mes.common.model.produce.Assign">
        <!-- 设置别名 -->
        select u.* from v_produce_assign u 
        WHERE 1=1 
        <trim  suffixOverrides="," >
            <if test="trackNo != null and trackNo != ''" >
                and u.ti_id in (select t1.id from produce_track_item t1,produce_track_head t2 where t1.track_head_id=t2.id and t2.track_no =#{trackNo})

            </if>     
            <if test="routerNo != null and routerNo != ''" >
               and u.track_id in (SELECT h.id FROM produce_track_head h WHERE h.drawing_no = #{routerNo}) 
            </if>    
             <if test="siteId != null and siteId != ''" >
               and u.site_id = #{siteId} 
            </if>      
            <if test="startTime != null and startTime != ''" >
                and UNIX_TIMESTAMP(u.assign_time) >= UNIX_TIMESTAMP(#{startTime})
            </if>
                        <if test="endTime != null and endTime != ''" >
                and UNIX_TIMESTAMP(u.assign_time) &lt;= UNIX_TIMESTAMP(#{endTime})
            </if>            
            <if test='state ==  "0,1"' >
                and u.state in (0,1)
            </if>
            <if test='state ==  "2"' >
                and u.state in (2)
            </if>
             <if test="userId != null and userId != ''" >
                and (u.user_id = #{userId} || u.user_id is null || u.user_id = '')
                
            </if>
            <if test="branchCode != null and branchCode != ''" >
                and u.branch_code = #{branchCode}
            </if>
        </trim>
        order by u.priority desc,u.modify_time desc 
    </select>

</mapper>
