<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richfit.mes.produce.dao.TrackItemMapper">
    <select id="selectTrackItem" resultType="com.richfit.mes.common.model.produce.TrackItem">
        SELECT ti.*, tc.user_id user_id, tc.completed_hours completed_hours, tc.actual_hours actual_hours,
        tc.report_hours report_hours, tc.device_id assign_device_id
        FROM mes_produce.produce_track_item ti
        left join mes_produce.produce_track_complete tc
        on ti.id = tc.ti_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectTrackItemAssign" resultType="com.richfit.mes.common.model.produce.TrackItem">
        SELECT ti.*, pa.user_id user_id, pa.device_id assign_device_id, pa.start_time
        FROM mes_produce.produce_track_item ti
        left join mes_produce.produce_assign pa
        on ti.id = pa.ti_id
        ${ew.customSqlSegment}
    </select>

    <select id="selectNextItem" resultType="com.richfit.mes.common.model.produce.TrackItem">
        SELECT * FROM produce_track_item T
        INNER JOIN produce_track_item S ON T.next_opt_sequence = S.opt_sequence
        AND T.track_head_id = S.track_head_id
        where S.id = #{tiId}
    </select>
    
    <update id="updateTrackItemIsCurrent">
        UPDATE ti
        SET ti.is_current = 0
        FROM mes_produce.produce_track_item ti WHERE ti.is_final_complete = 0
        AND EXISTS (SELECT 1 FROM
        mes_produce.produce_track_item ti2 WHERE ti2.th_id = ti.th_id
        AND ti2.id = #{tiId}
        AND ti2.opt_sequence = ti.opt_sequence
        AND ti2.quality_result = CASE ti2.is_exist_quality_check WHEN 1 THEN 0 ELSE -1 END
        AND ti2.prod_No = ti.prod_No AND ti2.is_final_complete = 1)
    </update>
</mapper>